header{
    background-color: white;
    text-transform: uppercase;
}

.input-white {
    color: #FFF;
  }

  .label-white .ant-form-item-label > label {
    color: #FFF;
    font-size: x-large;
    font-weight: 400;
  }
  
  .footer-button {
    position: fixed;
    bottom: 0;
    width: 80px; 
    left: 0;
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #0b8a60;
    border-top: 1px solid #d9d9d9;
}