body {
  background-image: url('../../assets/fundo-app.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

@media (max-width: 768px) {
  body {
    background-size: contain;
    background-position: top;
  }
}

.comanda-container {
  text-align: center;
  margin-top: 225px;
  padding: 2px 0;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comanda-row {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.comanda-row.top {
  align-items: center;
  height: 220px;
  width: 800px;
}

.second-row-container, .third-row-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.comanda-row.second-row {
  height: 80px;
  width: 600px;
}

.comanda-row.third-row {
  height: 80px;
  width: 600px;
}

.comanda-medium,
.comanda-end {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.comanda-index {
  margin-top: 15%;
  font-weight: bold;
  font-size: 24px;
  color:#000;
}

.comanda-index1 {
  margin-top: 15%;
  font-weight: bold;
  font-size: 45px;
  color:#000;
}

.comanda-medium {
  margin-left: 15%;
  font-size: 35px;
  font-weight: bold; color:#000;
}

.comanda-end {
  font-size: 35px;
  font-weight: bold; color:#000;
}

.comanda-end1 {
  margin-top: 15%;
  margin-right: 5%;
  font-size: 60px;
  font-weight: bold; color:#000;
}

.comanda-number {
  margin-left: 2%;
  margin-bottom: 1%;
  font-size:50px;
  font-weight: bold;color:#000;
}
/* Custom CSS Spinner */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
