.title-container2 {
  margin-top:4%;
  padding: 8px 0;
  text-align: center;
  width: 100%;
}

.footer-button {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 80px;
  text-align: center;
  background-color: #0b8a60;
  border: none;
  color: white;
  z-index: 1000;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.label-white .ant-form-item-label > label {
  color: #FFF;
  margin-right: 20px;
  font-size: large;
  font-weight: 400;
} 

.input-white .ant-input,
.input-white .ant-input-number,
.input-white .ant-input-number-input {
  background-color: #f0f0f0;
  color: #000;
  font-size: 15px;
  font-weight: bold;
}
